@()(implicit lang: Lang, flash: Flash, req: RequestHeader)

@views.html.Publisher.programHome("Schedule", Some("Voxxed Days Ticino 2016 agenda")) {

    <div class="small-6 medium-6 large-6 column">
        <h4>Start time</h4>
        <ul>
            <li><strong>Saturday 30th April</strong> - from 8:00</li>
        </ul>
    </div>
    <div class="small-6 medium-6 large-6 column">
        <h4>Program</h4>
        <ul>
            <li><a href="/2016/byday/saturday">Sat 30th</a>
        </ul>
    </div>

    <div class="small-12 medium-6 large-6 column">
        <h3>Keynote</h3>
        <p>We're very pleased to announce that this year's Keynote will be held by Todd Motto (Developer advocate, JS/Angular trainer, GDE)</p>
        <p><A href="@routes.Publisher.showByTalkType("key")">Go to keynote</A></p>
    </div>

    <div class="small-12 medium-6 large-6 column">
        <h3>Conference</h3>
        <p>The main talks. 21 great 50-min session</p>
        <p><A href="@routes.Publisher.showByTalkType("conf")">Go to conference talks</A></p>
    </div>

    <div class="clearfix"></div>

    <div class="small-12 medium-6 large-6 column">
        <h3>Quickies</h3>
        <p>20 minutes for future Rock Stars, 6 sessions during lunch. Don't miss them!</p>
        <p><A href="@routes.Publisher.showByTalkType("quick")">Go to quickies</A></p>
    </div>

    <div class="clearfix"></div>
}